<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include("../fragments/head", { title }) %>
</head>
<body>

<%- include("../fragments/navigation", { currentPage }) %>

<main>
    <%- body %>
</main>

<%- include("../fragments/foot") %>

</body>
</html>
