header{ background-color: #1f79b9;}
#game_input {
    border: #1f79b9 solid 1px;
    border-radius: 5px;
    background-color: #1f79b9;
}
table{border-spacing: unset}
td {border: black solid 1px;
    margin: unset}