<h1>Bienvenue sur Core Lab</h1>
<p>Une plateforme capable de diviser des calculs mathématiques complexes pour les résoudre simultanément sur un cluster de Raspberry Pi.</p>

<h2>Fonctionnalités :</h2>
<ul>
    <li>Choisir un algorithme : Monte-Carlo, Nombres premiers</li>
    <li>Distribution de la charge via MPI</li>
    <li>Calcul parallèle par Worker</li>
    <li>Visualisation des résultats</li>
    <li>Jeu du Juste Prix</li>
</ul>

<a href="/juste-prix">Jouer au Juste Prix</a>
