<h1>Le juste prix</h1>

<div id="game" style="display: flex; gap: 20px;">

    <!-- Zone de saisie -->
    <div id="game_input">
        <label for="proposition">Trouver un nombre entier entre 1 et 20</label><br>
        <input id="proposition" type="number" min="1" max="20"><br>
        <button id="btnVerifier">Vérifier</button>
    </div>

    <!-- Affichage des tentatives -->
    <div id="game_tentative">
        <h3>Tentatives :</h3>
        <ul id="listeTentatives"></ul>
    </div>

    <!-- Tableau de l'historique -->
    <div id="game_parties">
        <h3>Historique :</h3>
        <table>
            <thead>
            <tr>
                <th>Partie</th>
                <th>Tentatives</th>
            </tr>
            </thead>
            <tbody id="historique"></tbody>
        </table>
    </div>

</div>

<!-- Appel du script juste avant la fin du body -->
<script src="/static/js/prix.js"></script>