<h1>Le juste prix</h1>

<div id="game">
    <div id="game_input">
        <label for="proposition">Trouver un nombre entier entre 1 et 20</label><br>
        <input id="proposition" type="number" min="1" max="20"><br>
        <button id="btnVerifier" type="button">Vérifier</button>
    </div>

    <div id="game_tentative">
        <h3>Tentatives :</h3>
        <ul id="listeTentatives"></ul>
    </div>

    <div id="game_parties">
        <h3>Historique :</h3>
        <table>
            <thead>
            <tr>
                <th>Partie</th>
                <th>Tentatives</th>
            </tr>
            </thead>
            <tbody id="historique"></tbody>
        </table>
    </div>
</div>

<script src="/static/js/prix.js" defer></script>
