<nav>
    <div class="logo">
        <img src="/static/img/icon.png" alt="Logo du site web" width="100" height="100">
    </div>
    <ul class="nav nav-btn">
        <li><a href="/">Accueil</a></li>
        <li><a href="/calcul">Calculs</a></li>
        <li><a href="/juste-prix">Juste Prix</a></li>

        <% if (user) { %>
            <% if (user.isAdmin) { %>
                <li><a href="/admin/users">Utilisateurs</a></li>
            <% } %>

            <li><span class="nav-user">Bonjour, <%= user.username %></span></li>
            <li><a href="/auth/logout">Déconnexion</a></li>
        <% } else { %>
            <li><a href="/auth">Connexion / Inscription</a></li>
        <% } %>
    </ul>
</nav>
