<nav>
    <div class="logo">
        <img src="/static/img/icon.png" alt="Logo du site web" width="100" height="100">
    </div>
    <ul class="nav nav-btn">
        <li><a href="/">Accueil</a></li>
        <li><a href="/calcul">Calculs</a></li>
        <li><a href="/juste-prix">Juste Prix</a></li>
    </ul>
</nav>
