<nav>
    <img src="/static/img/icon.png" alt="Logo du site web" width="100px" height="100px">
    <ul class="nav">
        <li><a href="/">Accueil</a></li>
        <li><a href="/calcul">Calculs</a></li>
        <li><a href="/juste-prix">Juste Prix</a></li>
    </ul>
</nav>
