<nav>
    <ul>
        <li><a href="/" class="<%= currentPage === 'index' ? 'active' : '' %>">Accueil</a></li>
        <li><a href="/calcul" class="<%= currentPage === 'calcul' ? 'active' : '' %>">Calcul</a></li>
        <li><a href="/juste-prix" class="<%= currentPage === 'juste-prix' ? 'active' : '' %>">Jeu du Juste Prix</a></li>
    </ul>
</nav>